<div class="panel panel-info" >
  <div class="panel panel-heading">
    <div class="panel-title" id="headline">
      <strong>Basic Profile</strong>
    </div>
  </div>
  <div class="panel-body">
    <div class="row" style="margin-top: -10px">
      <div class="col-sm-5 col-md-5 col-lg-5">
        <img src="{{user.avatar}}" alt="my profile" class="img-circle" width="75px" height="90px">
      </div>
      <div class="col-sm-7 col-md-7 col-lg-7">
        <div class="row" style="margin-top: 10px">
          <div class="badge">
            <span class="glyphicon glyphicon-user" id="headline_display_name"></span>{{user.display_name}}
          </div>
        </div>
        <div class="row" style="margin-top: 15px">
          <span class="label label-info" id="headline_content">{{user.headline}}</span>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-7 col-md-7 col-lg-7">
        <input id="new_headline" type="text" class="form-control" placeholder="new status" [(ngModel)]="newStatus">
      </div>
      <div class="col-sm-5 col-md-5 col-lg-5">
        <button id="update_headline" class="btn btn-success" (click)="updateHeadline()">Update</button>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <button id="logout" class="btn btn-danger" (click)="logout()" style="margin-right: 80px">Log Out</button>
    <button id="profile" class="btn btn-warning" (click)="toProfile()">Profile</button>
  </div>
</div>
